<div class="d-md-flex h-md-100 align-items-center">

    <!-- First Half -->

    <div class="col-md-6 p-0 bg-indigo h-md-100">
        <div class="text-white d-md-flex align-items-center h-100 text-center justify-content-center">
            <div class="logoarea pt-5 pb-5">
                <ul class="nav vertical-nav nav-tabs flex-column" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Registrate</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Second Half -->

    <div class="col-md-6 p-0 bg-white h-md-100 loginarea">
        <div class="d-md-flex align-items-center h-md-100 p-5 justify-content-center">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h1 class="text-center">Envios</h1>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-lg" [(ngModel)]="user.email"
                            aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control form-control-lg" [(ngModel)]="user.password"
                            placeholder="Contraseña">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" (click)="login()">Entrar</button>
                    <a class="btn btn-link btn-block" (click)="showSwal()">Olvide mi contraseña</a>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h1 class="text-center">LOGO</h1>
                    <div class="row">
                        <div class="col-sm-8 offset-sm-2">
                            <ul class="nav nav-horizontal nav-tabs flex-row" id="myTab2" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="individual-tab" data-toggle="tab" href="#individual"
                                        role="tab" aria-controls="individual" aria-selected="true">Individual</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="business-tab" data-toggle="tab" href="#business" role="tab"
                                        aria-controls="business" aria-selected="false">Empresarial</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="tab-content" id="myTabContent2">
                        <div class="tab-pane fade show active" id="individual" role="tabpanel"
                            aria-labelledby="individual-tab">
                            <div class="row">
                                <div class="col-sm-8 offset-sm-2">
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label for="exampleInputEmail1">Nombre</label>
                                            <input type="text" class="form-control" [(ngModel)]="userIndividual.name" aria-describedby="emailHelp"
                                                placeholder="">
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label for="exampleInputEmail1">Apellido</label>
                                            <input type="text" class="form-control" [(ngModel)]="userIndividual.lastname" aria-describedby="emailHelp"
                                                placeholder="">
                                        </div>
                                        <div class="form-group col-sm-12">
                                                <label for="exampleInputEmail1">Teléfono</label>
                                                <input type="text" class="form-control" [(ngModel)]="userIndividual.phone" aria-describedby="emailHelp"
                                                    placeholder="">
                                            </div>
                                        <div class="form-group col-sm-12">
                                            <label for="exampleInputPassword1">Email</label>
                                            <input type="email" class="form-control" [(ngModel)]="userIndividual.email" placeholder="">
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label for="exampleInputPassword1">Contraseña</label>
                                            <input type="password" class="form-control" [(ngModel)]="userIndividual.password" placeholder="">
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label for="exampleInputPassword1">Confirmar</label>
                                            <input type="password" class="form-control" [(ngModel)]="userIndividual.confirm" placeholder="">
                                        </div>
                                        <div class="form-group form-check col-sm-12">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" [(ngModel)]="userIndividual.terms" for="exampleCheck1">Acepto terminos y condiciones de la plataforma.</label>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-block" (click)="register(0)">Registrate</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="business" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                <div class="col-sm-8 offset-sm-2">
                                    <div class="row">
                                            <div class="form-group col-sm-6">
                                                    <label for="exampleInputEmail1">Nombre</label>
                                                    <input type="text" class="form-control" aria-describedby="emailHelp"
                                                        [(ngModel)]="userBusiness.name" placeholder="">
                                                </div>
                                                <div class="form-group col-sm-6">
                                                        <label for="exampleInputEmail1">Apellido</label>
                                                        <input type="text" class="form-control" aria-describedby="emailHelp"
                                                            [(ngModel)]="userBusiness.lastname" placeholder="">
                                                    </div>
                                                <div class="form-group col-sm-12">
                                                    <label for="exampleInputEmail1">Nombre de tu Empresa</label>
                                                    <input type="text" class="form-control" aria-describedby="emailHelp"
                                                        [(ngModel)]="userBusiness.company" placeholder="">
                                                </div>
                                                <div class="form-group col-sm-12">
                                                        <label for="exampleInputEmail1">Teléfono</label>
                                                        <input type="text" class="form-control" [(ngModel)]="userBusiness.phone" aria-describedby="emailHelp"
                                                            placeholder="">
                                                    </div>
                                                <div class="form-group col-sm-12">
                                                    <label for="exampleInputPassword1">Email</label>
                                                    <input type="email" class="form-control" [(ngModel)]="userBusiness.email"
                                                        placeholder="">
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label for="exampleInputPassword1">Numero de Guías al Mes</label>
                                                    <select name="" class="form-control" [(ngModel)]="userBusiness.shipments" id="">
                                                        <option value="1">De 1 a 10 guías al mes</option>
                                                        <option value="2">De 1 a 50 guías al mes</option>
                                                        <option value="3">De 1 a 100 guías al mes</option>
                                                        <option value="4">De 1 a 500 guías al mes</option>
                                                        <option value="5">De 1 a 1000 guías al mes</option>
                                                        <option value="6">Mas de 1000 guías al mes</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label for="exampleInputPassword1">Contraseña</label>
                                                    <input type="password" class="form-control" [(ngModel)]="userBusiness.password"
                                                        placeholder="">
                                                </div>
                                                <div class="form-group col-sm-12">
                                                    <label for="exampleInputPassword1">Confirmar</label>
                                                    <input type="password" class="form-control" [(ngModel)]="userBusiness.confirm"
                                                        placeholder="">
                                                </div>
                                                <div class="form-group col-sm-12 form-check">
                                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                    <label class="form-check-label" for="exampleCheck1">Acepto terminos y condiciones de la
                                                        plataforma.</label>
                                                </div>
                                                <button type="submit" class="btn btn-primary btn-block" (click)="register(1)">Registrate</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>