<div class="card-body">
    <h5 class="card-title">Recargas</h5>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Registro de nueva tarjeta</h5>
            <h6 class="card-subtitle mb-2 text-muted">Por favor ingrese los datos de su tarjeta</h6>
            <div class="form-row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">Email</label>
                            <input id="email" name="email" value="test_user_19653727@testuser.com" class="form-control"
                                type="email" placeholder="your email" />
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">Propietario de la Tarjeta</label>
                            <input type="text" id="cardholderName" class="form-control" data-checkout="cardholderName"
                                placeholder="APRO" />
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">Número de tarjeta</label>
                            <input type="text" id="cardNumber" data-checkout="cardNumber"
                                placeholder="4509 9535 6623 3704" onselectstart="return false" onpaste="return false"
                                onCopy="return false" onCut="return false" class="form-control" onDrag="return false"
                                onDrop="return false" autocomplete=off />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Mes de Expiración</label>
                            <input type="text" id="cardExpirationMonth" data-checkout="cardExpirationMonth"
                                placeholder="12" onselectstart="return false" onpaste="return false"
                                onCopy="return false" onCut="return false" class="form-control" onDrag="return false"
                                onDrop="return false" autocomplete=off />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Año de Expiración</label>
                            <input type="text" id="cardExpirationYear" data-checkout="cardExpirationYear"
                                placeholder="2015" onselectstart="return false" onpaste="return false"
                                onCopy="return false" onCut="return false" class="form-control" onDrag="return false"
                                onDrop="return false" autocomplete=off />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Código de Seguridad</label>
                            <input type="text" id="securityCode" data-checkout="securityCode" placeholder="123"
                                onselectstart="return false" onpaste="return false" onCopy="return false"
                                onCut="return false" onDrag="return false" class="form-control" onDrop="return false"
                                autocomplete=off />
                        </div>
                    </div>
                </div>

            </div>
            <form action="" method="post" id="pay" name="pay">
                <fieldset>
                    <ul>                        
                        <li>
                            <label for="docNumber">Document number:</label>
                            <input type="text" id="docNumber" data-checkout="docNumber" placeholder="12345678" />
                        </li>
                    </ul>
                    <input type="hidden" name="paymentMethodId" />
                    <input type="submit" value="Pay!" />
                </fieldset>
            </form>
        </div>
    </div>
</div>