<aside>
    <div class="head-menu">
        <div class="navbar-brand header-logo">
            <a href="index.html" class="b-brand">
                <div class="b-bg">
                    <i class="fas fa-truck"></i>
                </div>
                <span class="b-title">Envios</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
        </div>
    </div>
    <ul class="menu">
        <li class="divider">
            <span>Menu</span>
        </li>
        <li class="active">
            <a routerLink="/admin/dashboard" routerLinkActive="active">
                <i class="fas fa-chart-line"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="hasmenu">
            <a routerLink="/admin/shipments" routerLinkActive="active">
                <i class="fas fa-shipping-fast"></i>
                <span>Ordenes</span>
            </a>
        </li>
        <li>
            <a routerLink="/admin/packages" routerLinkActive="active">
                <i class="fas fa-boxes"></i>
                <span>Empaques</span>
            </a>
        </li>
        <li>
            <a routerLink="/admin/locations" routerLinkActive="active">
                <i class="fas fa-map-marker-alt"></i>
                <span>Domicilios</span>
            </a>
        </li>
        <li class="divider">
            <span>finance</span>
        </li>
        <li>
            <a routerLink="/admin/recharges" routerLinkActive="active">
                <i class="fas fa-coins"></i>
                <span>Recargas</span>
            </a>
        </li>
        <li>
            <a routerLink="/admin/invoices" routerLinkActive="active">
                <i class="far fa-file-alt"></i>
                <span>Facturas</span>
            </a>
        </li>
        <!--<li class="divider">
            <span>pick & pack</span>
        </li>
        <li>
            <a routerLink="/admin/shipments" routerLinkActive="active">
                <i class="fas fa-shipping-fast"></i>
                <span>Pickups</span>
            </a>
        </li>
        <li>
            <a routerLink="/admin/shipments" routerLinkActive="active">
                <i class="fas fa-shipping-fast"></i>
                <span>Deliveries</span>
            </a>
        </li>-->
        <li class="divider">
            <span>Support</span>
        </li>
        <li>
            <a routerLink="/admin/profile" routerLinkActive="active">
                <i class="fas fa-id-card"></i>
                <span>Perfil</span>
            </a>
        </li>
        <li>
            <a routerLink="/admin/settings" routerLinkActive="active">
                <i class="fas fa-user-cog"></i>
                <span>Configuraciones</span>
            </a>
        </li>
        <li>
                <a (click)="signOut()">
                    <i class="fas fa-shipping-fast"></i>
                    <span>Salir</span>
                </a>
            </li>
        <li>
    </ul>
</aside>