<div class="card-body">
    <h5 class="card-title">Envío</h5>
    <div class="card card-transparent">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <section>
                        <ul class="nav nav-tabs steps" role="tablist">
                            <li role="presentation" class="nav-item">
                                <a href="#step1" class="nav-link active" data-toggle="tab" aria-controls="step1"
                                    role="tab" title="Step 1">
                                    1
                                </a>
                            </li>
                            <li role="presentation" class="nav-item">
                                <a href="#step2" class="nav-link" data-toggle="tab" aria-controls="step2" role="tab"
                                    title="Step 2">
                                    2
                                </a>
                            </li>
                            <li role="presentation" class="nav-item">
                                <a href="#complete" class="nav-link" data-toggle="tab" aria-controls="complete"
                                    role="tab" title="Complete">
                                    4
                                </a>
                            </li>
                        </ul>
                        <form role="form">
                            <div class="tab-content">
                                <div class="tab-pane active" role="tabpanel" id="step1">
                                    <!--<h3>Step 1</h3>
                                    <p>This is step 1</p>-->
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    Origen
                                                </div>
                                                <div class="card-body">
                                                    <form #f="ngForm">
                                                        <div class="form-row">
                                                            <div class="form-group col-md-12">
                                                                <label for="inputEmail4">Domicilios de Origen</label>
                                                                <div class="selectWrapper">
                                                                    <select name="" id=""
                                                                        (change)="getOrigen($event.target.value)"
                                                                        class="form-control">
                                                                        <option value="">Nueva dirección de origen
                                                                        </option>
                                                                        <option value="{{origen.id}}"
                                                                            *ngFor="let origen of origenes">
                                                                            {{origen.nickname}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-12"
                                                                *ngIf="extraInfo.origen.active">
                                                                <label for="inputEmail4">Identificador de
                                                                    Domicilio</label>
                                                                <input type="text" class="form-control" id="inputEmail4"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    [(ngModel)]="extraInfo.origen.nickname"
                                                                    placeholder="">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputEmail4">Nombre de quien envia</label>
                                                                <input type="text" class="form-control" id="inputEmail4"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    [(ngModel)]="shipment.origin.name" placeholder="">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputEmail4">Compañia</label>
                                                                <input type="text" class="form-control" id="inputEmail4"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    [(ngModel)]="shipment.origin.company"
                                                                    placeholder="">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputPassword4">Teléfono</label>
                                                                <input type="text" class="form-control"
                                                                    id="inputPassword4"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    [(ngModel)]="shipment.origin.phone" placeholder="">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputPassword4">Email</label>
                                                                <input type="text" class="form-control"
                                                                    id="inputPassword4"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    [(ngModel)]="shipment.origin.email" placeholder="">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputPassword4">País</label>
                                                                <div class="selectWrapper">
                                                                    <select name="" id=""
                                                                        (change)="getStatesOrigin($event.target.value)"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="shipment.origin.country"
                                                                        class="form-control">
                                                                        <option value="{{country.code}}"
                                                                            *ngFor="let country of countries">
                                                                            {{country.name}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputPassword4">Código Postal</label>
                                                                <input type="text" class="form-control"
                                                                    id="inputPassword4"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    (keyup)="getNeightsFrom()"
                                                                    [(ngModel)]="shipment.origin.postalCode"
                                                                    placeholder="">
                                                            </div>
                                                            <div class="form-group col-md-9">
                                                                <label for="inputEmail4">Calle</label>
                                                                <input type="text" class="form-control" id="inputEmail4"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    [(ngModel)]="shipment.origin.street"
                                                                    placeholder="Av. Empresarios #200">
                                                            </div>
                                                            <div class="form-group col-md-3">
                                                                <label for="inputEmail4">Número</label>
                                                                <input type="text" class="form-control" id="inputEmail4"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    [(ngModel)]="shipment.origin.number"
                                                                    placeholder="123">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputAddress">Colonia</label>
                                                                <div class="selectWrapper">
                                                                    <ng-select [items]="origenNeights"
                                                                        (change)="searchNeight()" [closeOnSelect]="true"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        bindValue="place_name" bindLabel="place_name"
                                                                        placeholder="Selecciona una colonia"
                                                                        [(ngModel)]="shipment.origin.district">
                                                                    </ng-select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputPassword4">Ciudad</label>
                                                                <input type="text" class="form-control"
                                                                    id="inputPassword4"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    [(ngModel)]="shipment.origin.city" placeholder="">
                                                            </div>
                                                            <div class="form-group col-md-6">
                                                                <label for="inputAddress">Estado</label>
                                                                <div class="selectWrapper">
                                                                    <select name="" id=""
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [(ngModel)]="shipment.origin.state"
                                                                        class="form-control">
                                                                        <option value="{{state.code_2_digits}}"
                                                                            *ngFor="let state of statesOrigin">
                                                                            {{state.name}}</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="form-group col-md-12">
                                                                <label for="inputPassword4">Referencia</label>
                                                                <input type="text" class="form-control"
                                                                    id="inputPassword4"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    [(ngModel)]="extraInfo.origen.reference"
                                                                    placeholder="">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    Destino
                                                </div>
                                                <div class="card-body">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-12">
                                                            <label for="inputEmail4">Domicilios de Destino</label>
                                                            <div class="selectWrapper">
                                                                <select name="" id=""
                                                                    (change)="getDestination($event.target.value)"
                                                                    class="form-control">
                                                                    <option value="">Nueva dirección destino</option>
                                                                    <option value="{{destination.id}}"
                                                                        *ngFor="let destination of destinations">
                                                                        {{destination.nickname}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-12"
                                                            *ngIf="extraInfo.destination.active">
                                                            <label for="inputEmail4">Identificador de Domicilio</label>
                                                            <input type="text" class="form-control" id="inputEmail4"
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="extraInfo.destination.nickname"
                                                                placeholder="">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputEmail4">Nombre de quien recibe</label>
                                                            <input type="text" class="form-control" id="inputEmail4"
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="shipment.destination.name" placeholder="">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputEmail4">Compañia</label>
                                                            <input type="text" class="form-control" id="inputEmail4"
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="shipment.destination.company"
                                                                placeholder="">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputPassword4">Teléfono</label>
                                                            <input type="text" class="form-control" id="inputPassword4"
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="shipment.destination.phone" placeholder="">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputPassword4">Email</label>
                                                            <input type="text" class="form-control" id="inputPassword4"
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="shipment.destination.email" placeholder="">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputPassword4">País</label>
                                                            <div class="selectWrapper">
                                                                <select name="" id=""
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    [(ngModel)]="shipment.destination.country"
                                                                    class="form-control">
                                                                    <option value="{{country.code}}"
                                                                        *ngFor="let country of countries">
                                                                        {{country.name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputPassword4">Código Postal</label>
                                                            <input type="text" class="form-control" id="inputPassword4"
                                                                [ngModelOptions]="{standalone: true}"
                                                                (keyup)="getNeightsTo()"
                                                                [(ngModel)]="shipment.destination.postalCode"
                                                                placeholder="">
                                                        </div>
                                                        <div class="form-group col-md-10">
                                                            <label for="inputEmail4">Calle</label>
                                                            <input type="text" class="form-control" id="inputEmail4"
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="shipment.destination.street"
                                                                placeholder="Av. Empresarios">
                                                        </div>
                                                        <div class="form-group col-md-2">
                                                            <label for="inputEmail4">Número</label>
                                                            <input type="text" class="form-control" id="inputEmail4"
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="shipment.destination.number"
                                                                placeholder="123">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputAddress">Colonia</label>
                                                            <div class="selectWrapper">
                                                                <ng-select [items]="destinationNeights"
                                                                    (change)="searchNeightTo()"
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    bindValue="place_name" bindLabel="place_name"
                                                                    placeholder="Selecciona una colonia"
                                                                    [(ngModel)]="shipment.destination.district">
                                                                </ng-select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputPassword4">Ciudad</label>
                                                            <input type="text" class="form-control" id="inputPassword4"
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="shipment.destination.city" placeholder="">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="inputAddress">Estado</label>
                                                            <div class="selectWrapper">
                                                                <select name="" id=""
                                                                    [ngModelOptions]="{standalone: true}"
                                                                    [(ngModel)]="shipment.destination.state"
                                                                    class="form-control">
                                                                    <option value="{{state.code_2_digits}}"
                                                                        *ngFor="let state of statesDestination">
                                                                        {{state.name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label for="inputPassword4">Referencia</label>
                                                            <input type="text" class="form-control" id="inputPassword4"
                                                                [ngModelOptions]="{standalone: true}"
                                                                [(ngModel)]="extraInfo.destination.reference"
                                                                placeholder="">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="list-inline pull-xs-right">
                                        <li class="list-inline-item">
                                            <button type="button" class="btn btn-primary next-step">Save and
                                                continue</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="step2">
                                    <br>
                                    <!--<h3>Step 2</h3>
                                    <p>This is step 2</p>-->
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="card card-blue">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <div class="selectWrapper">
                                                                <select name="" (change)="onChange($event.target.value)"
                                                                    id="" class="form-control">
                                                                    <option value="">Seleccione un Paquete</option>
                                                                    <option *ngFor="let package of packages"
                                                                        value="{{package.id}}">{{package.name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control"
                                                                id="exampleInputEmail1"
                                                                [(ngModel)]="shipment.package.content"
                                                                [ngModelOptions]="{standalone: true}"
                                                                aria-describedby="emailHelp" placeholder="Contendio">
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                            <input type="text" class="form-control"
                                                                id="exampleInputEmail1"
                                                                [(ngModel)]="shipment.package.insurance"
                                                                [ngModelOptions]="{standalone: true}"
                                                                aria-describedby="emailHelp" placeholder="Seguro">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm">
                                                            <input type="text" class="form-control"
                                                                id="exampleInputEmail1"
                                                                [(ngModel)]="shipment.package.dimensions.height"
                                                                [ngModelOptions]="{standalone: true}"
                                                                aria-describedby="emailHelp" placeholder="Alto (cm)">
                                                        </div>
                                                        <div class="col-sm">
                                                            <input type="text" class="form-control"
                                                                id="exampleInputEmail1"
                                                                [(ngModel)]="shipment.package.dimensions.width"
                                                                [ngModelOptions]="{standalone: true}"
                                                                aria-describedby="emailHelp" placeholder="Ancho (cm)">
                                                        </div>
                                                        <div class="col-sm">
                                                            <input type="text" class="form-control"
                                                                id="exampleInputEmail1"
                                                                [(ngModel)]="shipment.package.dimensions.length"
                                                                [ngModelOptions]="{standalone: true}"
                                                                aria-describedby="emailHelp" placeholder="Largo (cm)">
                                                        </div>
                                                        <div class="col-sm">
                                                            <input type="text" class="form-control"
                                                                id="exampleInputEmail1"
                                                                [(ngModel)]="shipment.package.weight"
                                                                [ngModelOptions]="{standalone: true}"
                                                                aria-describedby="emailHelp" placeholder="Peso (kg)">
                                                        </div>
                                                        <div class="col-sm">
                                                            <button type="submit"
                                                                class="btn btn-block btn-rounded btn-app-red"
                                                                (click)="getQuote()">Cotizar
                                                                <i class="fas fa-circle-notch fa-spin"
                                                                    *ngIf="loading"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <small class="text-white">Peso volumetrico:
                                                                {{volumetric}}</small>
                                                        </div>
                                                    </div>
                                                    <div class="row divider" *ngIf="rates">
                                                        <div class="col-sm-12">
                                                                <hr>
                                                                <h5 class="text-center text-white">Selecciona una paquetería</h5>
                                                        </div>
                                                    </div>
                                                    <div class="row" *ngIf="rates">
                                                        <div class="col-sm-12">
                                                                <div class="list-group"  [@listAnimation]="rates.length">
                                                                        <div class="box-quote list-group-item" (click)="selectParcel(r.carrier, r.service, r.totalPrice, i)" *ngFor="let r of rates; let i = index;">
                                                                            <div class="row">
                                                                                <div class="col-sm-3">
                                                                                    <img src="assets/imgs/carriers/{{r.carrier+'.png'}}" class="carrier-logo" alt="">
                                                                                </div>
                                                                                <div class="col-sm-3">
                                                                                    <h6 class="text-center">{{r.carrier+' '+r.service}}</h6>
                                                                                </div>
                                                                                <div class="col-sm-3">
                                                                                    <h6 class="text-center">{{r.deliveryEstimate}}</h6>
                                                                                </div>
                                                                                <div class="col-sm-3">
                                                                                    <h6 class="text-center">{{r.totalPrice | currency}} {{r.currency}}</h6>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-4 offser-sm-4">
                                                                <button class="btn btn-app-red btn-block btn-rounded" *ngIf="this.shipment.shipment.carrier != ''"
                                                                [disabled]="loadingShipment" (click)="createLabel()">
                                                                Generar Guía
                                                                <i class="fas fa-circle-notch fa-spin"
                                                                    *ngIf="loadingShipment"></i>
                                                            </button>
                                                        </div>
                                                    </div>                                                   
                                                       

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="pull-xs-right">
                                        <li class="list-inline-item">
                                            <button type="button" class="btn btn-default prev-step">Previous</button>
                                        </li>
                                        <li class="list-inline-item">
                                            <button type="button" class="btn btn-primary next-step">Save and
                                                continue</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="step3">
                                    <h3>Step 3</h3>
                                    <p>This is step 3</p>
                                    <ul class="list-inline pull-xs-right">
                                        <li class="list-inline-item">
                                            <button type="button" class="btn btn-default prev-step">Previous</button>
                                        </li>
                                        <li class="list-inline-item">
                                            <button type="button" class="btn btn-default next-step">Skip</button>
                                        </li>
                                        <li class="list-inline-item">
                                            <button type="button" class="btn btn-primary btn-info-full next-step">Save
                                                and continue</button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tab-pane" role="tabpanel" id="complete">
                                    <h3>Complete</h3>
                                    <p>You have successfully completed all steps.</p>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>

</div>