<footer class="theme-footer-section footer-light">
    <!-- Footer top section start -->
    <div class="footer-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <aside class="footer-widget">
                        <div class="footer-logo-heading">
                            <a href="/"><img src="assets/imgs/logoship2go.png" class="logo" alt=""></a>
                        </div>
                        <div class="footer-widget-content">
                            <p>Desarrollo una plataforma que integra tecnología capaz de maximizar la eficiencia de tu operación automatizando tus envíos nacionales de una manera sencilla y desde la comodidad de tu hogar u oficina</p>
                            <ul class="social-bookmark left">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="offset-lg-2 col-lg-3 col-md-6">
                    <aside class="footer-widget pl-5">
                        <h3 class="footer-widget-title">Acceso Rapido</h3>
                        <div class="footer-widget-content">
                            <ul class="quick-link">
                                <li><a href="#">Servicios</a></li>
                                <li><a href="#">Rastreo</a></li>
                                <li><a href="#">Contacto</a></li>
                                <li><a href="#">Cotizar</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
               <!-- <div class="col-lg col-md-6">
                    <aside class="footer-widget pl-4">
                        <h3 class="footer-widget-title">download now</h3>
                        <div class="footer-widget-content">
                            <div class="download-icon">
                                <ul class="download-icon-menu">
                                    <li><a href="#"><img src="images/icons/app-store.png" alt=""></a></li>
                                    <li><a href="#"><img src="images/icons/gplay.png" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>-->
                <div class="col-lg-3 col-md-6">
                    <aside class="footer-widget">
                        <h3 class="footer-widget-title">Dirección</h3>
                        <div class="footer-widget-content quick-address">
                            <p>Ship2Go.</p>
                            <p> Zapopan, Jalisco. México</p>
                            <p>+880044 545 989 626</p>
                            <a href="#">hola@ship2go.com</a>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer top section end -->
    <!-- Footer Bottom section start -->
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="copy-right-info">
                        <p>© 2019 All right reserved by
                            <a href="#">ship2go.com</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-7">
                    <ul class="footer-menu">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Servicios</a></li>
                        <li><a href="#">Rastreo</a></li>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Cotizar</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Bottom section end -->
</footer>