<div id="main">
    <div class="container">
        <h1>Politicas de Privacidad</h1>
    </div>
</div>
<div id="second">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                    <h5>Identidad y domicilio del responsable.</h5>
                    <p class="text-muted">
                            Con fundamento en los artículos 15 y 16 de la Ley Federal de Protección de Datos Personales en posesión de particulares hacemos de su conocimiento que “ship2go.com.mx” con domicilio en Vistas del Pinar #31 c.p. 45010 Zapopan Jalisco, presta sus servicios de intermediación con proveedores de paqueterías, así como soporte personalizado y es responsable de recabar sus datos personales, del uso que se le dé a los mismos y de su protección.
                    </p>
                    
                    <h5>Datos personales que recaba ship2go.com.mx y el no tratamiento de datos personales sensibles</h5>
                    <p class="text-muted">
                            Para la prestación de nuestros Servicios, y para cumplir con las finalidades del tratamiento señaladas en el presente aviso de privacidad, es necesario y/o exigido por la normatividad aplicable que ship2go.com.mx utilice:
                    </p>
                    <ul>
                            <li>1)      Nombre y apellidos del Remitente</li>
                            <li>2)      Dirección completa del Remitente</li>
                            <li>3)      Correo Electrónico del Remitente</li>
                            <li>4)      Nombre y apellidos del Destinatario</li>
                            <li>5)      Dirección completa del Destinatario</li>
                            <li>6)      Correo Electrónico del Destinatario</li>
                            <li>7)      Datos fiscales del Contratante.</li>
                    </ul>
                    
                    <h5>ship2go.com.mx no recaba ni trata datos personales sensibles.</h5>
                    <p class="text-muted">
                            Finalidades Primarias:
                            Su información personal será utilizada únicamente para dar cumplimiento a las obligaciones que hemos contraído con usted, siendo estos fines:
                    </p>
                    <ul>
                            <li>1)     Proveer los servicios solicitados;</li>
                            <li>2)     Comunicarle sobre cambios en los mismos;</li>
                            <li>3)     Atender quejas, sugerencias y solicitudes derivadas de los servicios contratados;</li>
                            <li>4)     Verificar la existencia de cobertura en su domicilio;</li>
                            <li>5)     Facturación y cobranza de los servicios contratados;</li>
                            <li>6)     Evaluar la calidad del servicio que brindamos, para dar cumplimiento a las obligaciones que hemos contraído con usted;</li>
                            <li>7)     Contactarle a usted y a sus contactos y/o referencias para dar seguimiento a cualquier tema relacionado con los Servicios o con las presentes finalidades.</li>
                    </ul>
                    
                    <h5>Finalidades Secundarias</h5>
                    <ul>
                            <li>1)       Notificarle sobre nuevos servicios o productos que tengan relación con lo ya contratados o adquiridos;</li>
                            <li>2)       Realizar estudios sobre hábitos de consumo y de mercado;</li>
                    </ul>
                    
                    <h5>Transferencias</h5>
                    <p class="text-muted">
                            Con la finalidad de dar cumplimiento a las obligaciones derivadas de la relación jurídica con usted, así como aquellas finalidades previstas en este Aviso de Privacidad, ship2go.com.mx podrá transferir, sin requerir de su consentimiento, los datos personales necesarios al o los proveedores de servicios de paquetería, mensajería o carga que usted haya seleccionado y a través de cual usted realizará su envío.
                    </p>
                    
                    
                    <h5>Medio y procedimiento para ejercer Derechos ARCO y/o revocación de consentimiento para el tratamiento de datos personales</h5>
                    <p class="text-muted">
                            Le recordamos que usted tiene derecho al Acceso, Rectificación, Cancelación u Oposición de sus datos personales (desde ahora Derechos ARCO), así como a oponerse al tratamiento de los mismos o a revocar el consentimiento que para dicho efecto nos haya otorgado, tomando en consideración que la negativa del tratamiento para las finalidades principales, implicarían la imposibilidad de cumplimiento contractual, y por lo tanto su recisión sin responsabilidad para ship2go.com.mx para ello, será necesario enviar una solicitud en los términos que marca la Ley en su artículo 29 o bien utilizar nuestro formato contenido al calce de este documento al correo electrónico: clientes@ship2go.com.mx para ello es necesario acreditar correctamente su identidad para lo que es necesario que complete todos los campos indicados en el Formulario y lo acompañe con copia de alguna de las identificaciones oficiales vigentes que se señalan en el mismo.
                            En caso de que la información proporcionada en el Formulario sea errónea o insuficiente, o bien, no se acompañen los documentos de acreditación correspondientes, ship2go.com.mx, dentro de los cinco (5) días hábiles siguientes a la recepción de la solicitud, podrá requerirle que aporte los elementos o documentos necesarios para dar trámite a la misma. Usted contará con diez (10) días hábiles para atender el requerimiento, contados a partir del día siguiente en que lo haya recibido. De no dar respuesta en dicho plazo, se tendrá por no presentada la solicitud correspondiente.
                            Ship2go.com.mx le comunicará la determinación adoptada, en un plazo máximo de veinte (20) días hábiles contados desde la fecha en que se recibió la solicitud, a efecto de que, si resulta procedente, haga efectiva la misma dentro de los quince (15) días hábiles siguientes a que se comunique la respuesta. La respuesta se dará vía electrónica a la dirección de correo que se especifique en el Formulario.
                    </p>
                    
                    <h5>Opciones y medios para limitar el uso o divulgación de sus datos personales</h5>
                    <p class="text-muted">
                            Usted podrá limitar el uso o divulgación de sus datos personales enviando su solicitud al correo contacto@ship2go.com.mx Los requisitos para acreditar su identidad, así como el procedimiento para atender su solicitud se regirán por los mismos criterios señalados en el apartado anterior.
                            En caso de que su solicitud resulte procedente, ship2go.com.mx lo registrará en el listado de exclusión propio de ship2go.com.mx con el objeto de que usted deje de recibir nuestras promociones. Las notificaciones relativas a los cambios en los costos o servicios no son consideradas en los listados de exclusión por ser una obligación de ship2go.com.mx ante la Procuraduría Federal del Consumidor.
                    </p>
                    
                    <h5>Uso de cookies.</h5>
                    <p class="text-muted">
                            Ship2go.com.mx utiliza varias tecnologías para mejorar la eficiencia de sus sitios web, incluyendo su experiencia cuando navega por dichos sitios. Entre estas tecnologías se incluye el uso de cookies. Las cookies son pequeñas cantidades de información que se almacenan en el navegador utilizado por cada usuario para que el servidor recuerde cierta información que posteriormente pueda utilizar. Esta información permite identificarle y guardar sus preferencias personales para brindarle una mejor experiencia de navegación. Le recordamos que usted puede deshabilitar o ajustar el uso de cookies siguiendo los procedimientos del navegador de internet que utiliza.
                    </p>
                    
                    <h5>Medio para comunicar cambios al Aviso de Privacidad</h5>
                    <p class="text-muted">
                            Ship2go.com.mx se reserva el derecho, bajo su exclusiva discreción, de cambiar, modificar, agregar o eliminar partes del presente Aviso de Privacidad en cualquier momento. En tal caso, ship2go.com.mx publicará dichas modificaciones en el sitio web www.ship2go.com.mx en donde se indicará la fecha de última versión del aviso. Le recomendamos visitar periódicamente esta página con la finalidad de informarse si ocurre algún cambio al presente.
                    </p>
            </div>
        </div>
    </div>
</div>