<div id="main">
        <img src="assets/imgs/flechas_1.png" alt="">
        <a routerLink="/quote" routerLinkActive="active" class="btn btn-danger rounded-pill text-uppercase">Cotizar Envio</a>
    <div class="container">        
       <div class="row">
           <div class="col-sm-6">
               <h1>Tu logistica en tiempo y forma</h1>
           </div>
           <div class="col-sm-6">
                <h1>Tu logistica en tiempo y forma</h1>
           </div>
       </div>
        
    </div>
</div>
<div id="second">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">Nuestra Meta</h1>
            </div>
            <br>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top"
                        src="assets/imgs/create.png"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Crear Guías</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="assets/imgs/pick_up.png"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Recolección</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top"
                        src="assets/imgs/tracking.png"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Rastréo</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img class="card-img-top" src="assets/imgs/delivery.png"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Entrega</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>