<div id="main">
    <img src="assets/imgs/flechas_1.png" alt="">
    <a routerLink="/quote" routerLinkActive="active" class="btn btn-danger rounded-pill text-uppercase">Cotizar
        Envio</a>
    <div class="container">
        <h1>Tu logística en tiempo y forma</h1>
    </div>
</div>
<div id="third">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="assets/imgs/third_2.png" alt="">
            </div>
            <div class="col-sm-6">
                <h3 class="text-center">¿Porque utilizar ship2go?</h3>
                <p>Ship2go Desarrollo una plataforma tecnológica capaz de maximizar la eficiencia de las operaciones,
                    automatizando tus envíos desde la comodidad de tu hogar u oficina.</p>
                <p>Estamos conscientes de la importancia de envíos ante las empresas dedicadas a la distribución de
                    productos, de tal manera que ofrecemos servicio y asesoría personalizada,</p>
                <p>Cuenta con herramientas diseñadas específicamente para lograr un desempeño optimo y facilitar los
                    envíos por lo cual está abierta al público en general</p>
            </div>
        </div>
    </div>
</div>
<div id="second">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-img">
                        <img class="card-img-top" src="assets/imgs/1.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Cotiza</h5>
                        <p class="card-text">cotiza y crea guías mediante una plataforma completamente gratuita, de
                            manera sencilla desde la comodidad de tu hogar u oficina.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-img">
                        <img class="card-img-top" src="assets/imgs/4.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Recolección</h5>
                        <p class="card-text">Solicita recolección directo en domicilio de origen sin costo adicional o
                            si es de tu preferencia puedes entregar en la sucursal correspondiente a la paquetería de tu
                            preferencia.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-img">
                        <img class="card-img-top" src="assets/imgs/2.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Rastréo</h5>
                        <p class="card-text">Obtén la información sobre tus envios realizando tu rastreo de manera
                            eficiente mediante nuestra plataforma.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <div class="card-img">
                        <img class="card-img-top" src="assets/imgs/3.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Soporte Tecnico</h5>
                        <p class="card-text">Atención profesional y personalizada para cada cliente, tour para el uso de
                            plataforma y seguimientos de cuentas. Agilizamos tus procesos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>