<div class="card-body">
    <h5 class="card-title">Facturas</h5>
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>id</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let invoice of invoices">
                        <td>{{invoice.id}}</td>
                        <td>{{invoice.created_at | date:'dd/MM/y h:mm a'}}</td>
                        <td>{{invoice.status}}</td>
                        <td>
                            <a href="{{invoice.token}}" target="_blank" class="btn btn-icon btn-rounded btn-outline-success" placement="top" ngbTooltip="Descarga PDF"><i class="far fa-file-pdf"></i></a>
                            <a href="{{invoice.token}}" target="_blank" class="btn btn-icon btn-rounded btn-outline-success" placement="top" ngbTooltip="Descarga XML"><i class="far fa-file-excel"></i></a>
                            <button type="button" (click)="cancelInvoice(invoice.id)" class="btn btn-icon btn-rounded btn-outline-danger" placement="top" ngbTooltip="Cancelar"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    <tr *ngIf="invoices.length == 0" class="text-center">
                        <td colspan="4">No hay facturas generadas</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>