<div class="card-body">
    <h5 class="card-title">Recargas</h5>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Tajeta</th>
                        <th scope="col">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-3 offset-sm-4">
                    <a routerLink="/admin/recharges/new" class="btn btn-success btn-block">Nueva Recarga</a>
                </div>
            </div>
        </div>
    </div>
</div>