<div class="content">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-6">
                    <img src="assets/imgs/logoship2go.png" class="logo" alt="">
                </div>
                <div class="col-sm-6 listContainer">
                    <ul>
                        <li><a href="/register">Registro</a></li>
                        <li><a href="/login" class="text-red">Iniciar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title"><span class="text-red">¡crea tu cuenta</span> fácil!</h5>
            <div class="row">
                <div class="col-sm-12">
                        <div class="form-check form-check-inline text-center">
                            <input class="form-check-input" type="radio" checked [value]="0" name="business"
                                [(ngModel)]="user.business" [ngModelOptions]="{standalone: true}" id="inlineRadio1">
                            <label class="form-check-label" for="inlineRadio1">Independiente</label>
                        </div>
                        <div class="form-check form-check-inline text-center">
                            <input class="form-check-input" type="radio" [value]="1" name="business"
                                [(ngModel)]="user.business" [ngModelOptions]="{standalone: true}" id="inlineRadio2">
                            <label class="form-check-label" for="inlineRadio2">Empresarial</label>
                        </div>
                        <div class="input-container" *ngIf="user.business == 1">
                            <i class="far fa-building"></i>
                            <input class="input-field" type="text" [(ngModel)]="user.company" placeholder="Empresa">
                        </div>
                        <div class="input-container" [ngClass]="{'is-invalid': loginErrors.name!=''}">
                            <i class="far fa-user"></i>
                            <input class="input-field" type="text" [(ngModel)]="user.name" placeholder="Nombre completo" placement="right" ngbTooltip="{{loginErrors.name}}" tooltipClass="error-tooltip">
                        </div>
                        <div class="input-container" [ngClass]="{'is-invalid': loginErrors.phone !=''}">
                            <i class="fas fa-mobile-alt"></i>
                            <input class="input-field" type="text" [(ngModel)]="user.phone" placeholder="Teléfono"
                                name="usrnm" placement="right" ngbTooltip="{{loginErrors.phone}}" tooltipClass="error-tooltip">
                        </div>
                        <div class="input-container" [ngClass]="{'is-invalid': loginErrors.email!=''}">
                            <i class="fas fa-envelope"></i>
                            <input class="input-field" type="text" [(ngModel)]="user.email" placeholder="Email"
                                name="usrnm" placement="right" ngbTooltip="{{loginErrors.email}}" tooltipClass="error-tooltip">
                        </div>
                        <div class="input-container" [ngClass]="{'is-invalid': loginErrors.password!=''}">
                            <i class="fas fa-lock-open"></i>
                            <input class="input-field" type="password" [(ngModel)]="user.password"
                                placeholder="Contraseña" name="usrnm" placement="right" ngbTooltip="{{loginErrors.password}}" tooltipClass="error-tooltip">
                        </div>
                        <div class="input-container" [ngClass]="{'is-invalid': loginErrors.password!=''}">
                            <i class="fas fa-check"></i>
                            <input class="input-field" type="password" [(ngModel)]="user.password_confirmation"
                                placeholder="Confirmar contraseña" name="usrnm" placement="right" ngbTooltip="{{loginErrors.password}}" tooltipClass="error-tooltip">
                        </div>
                        <div class="input-container" *ngIf="user.business == 1">
                            <i class="far fa-paper-plane"></i>
                            <select name="" id="" [(ngModel)]="user.shipments" class="input-field">
                                <option value="0" disabled>Envios estimados por mes
                                </option>
                                <option value="1">De 1 a 10 envios por mes</option>
                                <option value="2">De 1 a 50 envios por mes</option>
                                <option value="3">De 1 a 100 envios por mes</option>
                                <option value="3">De 1 a 500 envios por mes</option>
                                <option value="3">De 1 a 1000 envios por mes</option>
                            </select>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" [(ngModel)]="user.terms"
                                id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Estoy de acuerdo con los <a
                                    href="">Terminos
                                    y condiciones</a> de uso de <a href="ship2go.com">ship2go.com</a></label>
                        </div>
                </div>
            </div>
            <button class="btn btn-login text-uppercase rounded-pill" [disabled]="loading" (click)="register()" type="submit">
                    Enviar
                    <i class="fas fa-circle-notch fa-spin" *ngIf="loading"></i>
            </button> 
        </div>
    </div>
</div>