@import "../../../variables.scss";
header{
    width: 100%;
    
    padding: 10px 20px;
    //background: rgba(0, 0, 0, 0.6);
}
.navbar{
    height: 100px;
    background: #fff;

    .navbar-brand{
        color: #000;
        img{
            height: 50px;
        }
    }

    .navbar-nav{
        .nav-item{
            margin: 5px;
            .nav-link{
                color: $app-blue;
                font-weight: bold;
            }
        }
    }
}