@import "../../../variables.scss";
header{
    width: 100%;
    
    padding: 10px 20px;
    //background: rgba(0, 0, 0, 0.6);
}
.navbar{
    height: 100px;
    background: #fff;
    transition: all 1s;
    height: 70px;

    .navbar-brand{
        color: #000;
        img{
            height: 50px;
            -webkit-filter: drop-shadow(1px 1px 0 #fff)
                  drop-shadow(-1px -1px 0 #fff);
  filter: drop-shadow(1px 1px 0 #fff) 
          drop-shadow(-1px -1px 0 #fff);
        }
    }

    .navbar-nav{
        .nav-item{
            margin: 5px;
            .nav-link{
                color: $app-blue;
                font-weight: bold;
            }
        }
    }
}
.navbar.transparent{
    background: transparent !important;
    height: 100px;
    transition: all 0.5s;
    .navbar-nav{
        .nav-item{
            margin: 5px;
            .nav-link{
                color: #fff;
                font-weight: bold;
            }
        }
    }
}