<div id="main">
    <div class="container">
        <h1>Terminos y Condiciones</h1>
    </div>
</div>
<div id="second">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h5>1. Su relación con ship2go.com.mx</h5>
                <p class="text-muted">1.1 El uso que usted haga en el sitio web de ship2go https://www.ship2go.com.mx/,
                    así como su software, plataforma digital y su respectiva aplicación móvil, las cuales brindarán
                    exclusivamente información, búsqueda e intermediación de servicios de mensajería, paquetería y de
                    carga. ship2go.com.mx ofrece a sus usuarios una plataforma en línea, por medio de la cual los
                    usuarios pueden solicitar información y contratar servicios de mensajería y paquetería vía terrestre
                    y aérea prestados por terceros (en adelante, se denominarán los "Servicios", y queda excluido todo
                    servicio que ship2go.com.mx pueda proporcionarle en virtud de cualquier otro acuerdo consensuado por
                    escrito) el presente documento contiene los términos de un acuerdo legal entre usted y
                    ship2go.com.mx. En el presente documento se describen los componentes del acuerdo y se exponen
                    algunos de los términos que lo regirán.</p>
                <p class="text-muted">1.2 A menos que usted y ship2go.com.mx establezcan lo contrario por escrito, el
                    acuerdo con ship2go.com.mx siempre incluirá, como mínimo, los términos y condiciones estipulados en
                    este documento. En adelante, se denominarán las "Condiciones universales".</p>
                <p class="text-muted">1.3 El acuerdo entre usted y ship2go.com.mx también incluirá los términos de
                    cualquier aviso legal que corresponda a los servicios, además de las condiciones universales. En
                    adelante, todo ello se denominará las "condiciones adicionales". Siempre que un servicio esté regido
                    por las condiciones adicionales, podrá leerlas en el espacio destinado en el Servicio o a través de
                    este.</p>
                <p class="text-muted">1.4 Las Condiciones universales, junto con las condiciones adicionales, conforman
                    un acuerdo legalmente vinculante entre usted y ship2go.com.mx en relación con el uso que usted haga
                    de los servicios. Le recomendamos que las lea detenidamente. En adelante, este acuerdo legal que se
                    denominará las "Condiciones".</p>
                <p class="text-muted">1.5 En el caso de que exista alguna discrepancia entre las condiciones adicionales
                    y las condiciones universales en relación con el servicio, prevalecerán las disposiciones de las
                    primeras.</p>
                <h5>2. Aceptación de los Condiciones.</h5>
                <p class="text-muted">2.1 Al comenzar a utilizar los servicios de ship2go.com.mx se asumirá
                    automáticamente que acepta términos y condiciones de esta.</p>
                <p class="text-muted">2.2 No podrá utilizar los servicios ni aceptar las condiciones si (a) no tiene la
                    edad legal para contraer un acuerdo vinculante con ship2go.com.mx, cualquier uso realizado por un
                    menor de edad es estrictamente prohibido o (b) si se le ha privado el uso y disfrute del servicio en
                    virtud de la legislación de los Estados Unidos Mexicanos o de cualquier otro país, incluido su país
                    de residencia o el país desde el cual utiliza el servicio.</p>
                <p class="text-muted">2.3 Antes de continuar, le recomendamos imprimir las Condiciones universales o
                    guardar una copia de estas en la unidad de disco local para su información.</p>
                <h5>3. Provisión del Servicio por parte de ship2go.com.mx</h5>
                <p class="text-muted">3.1 ship2go.com.mx está constantemente innovando su plataforma a fin de ofrecer la
                    mejor experiencia posible a sus usuarios. Por el presente acuerdo, usted reconoce y acepta que el
                    contenido y la naturaleza del servicio que proporciona ship2go.com.mx pueden variar ocasionalmente
                    sin previo aviso.</p>
                <p class="text-muted">3.2 Como parte de esta permanente innovación, usted reconoce y acepta que
                    ship2go.com.mx pueda suspender, ya sea de forma permanente o temporal, el servicio, o alguna de las
                    funciones incluidas en este, para usted o para los usuarios en general, a discreción de
                    ship2go.com.mx y sin previo aviso. Usted podrá interrumpir el uso que haga de los servicios en
                    cualquier momento que lo desee. No es necesario que informe de ello a ship2go.com.mx, sin embargo,
                    su cuenta será desactivada en automático a los 2 meses sin actividad.</p>
                <p class="text-muted">3.3 Por el presente acuerdo, usted reconoce y acepta que, si ship2go.com.mx
                    inhabilita el acceso a su cuenta, es posible que no pueda acceder a los servicios e información de
                    su cuenta o a los archivos u otro contenido de esta.</p>
                <p class="text-muted">3.4 Usted reconoce y acepta que sip2go.com.mx puede no haber fijado ningún límite
                    en cuanto al número de transmisiones para enviar o recibir elementos a través de los servicios ni
                    tampoco en la cantidad de espacio de almacenamiento disponible para la provisión de los servicios,
                    ship2go.com.mx se reserva el derecho de establecer límites al respecto en cualquier momento y a su
                    absoluta discreción.</p>
                <h5>4. Descripción del Servicio por parte de ship2go.com.mx</h5>
                <p class="text-muted">4.1 ship2go.com.mx proporciona a los usuarios un servicio accesible y eficaz en
                    línea en computadoras, dispositivos portátiles, así como en los denominados teléfonos inteligentes,
                    donde pueden solicitar información con nuestro comparador de envíos; así como la contratación de
                    mensajería y paquetería nacional e internacional vía terrestre y aérea prestados por los terceros (
                    proveedores de servicios de paquetería y transporte de mercancías), los cuales son totalmente
                    independientes de ship2go.com.mx, limitándo la participación de ship2go.com.mx únicamente a ser un
                    intermediario entre el usuario y los terceros anteriormente citados, en el cual podrán consultar los
                    precios de las compañías de paquetería y mensajería con más prestigio a nivel mundial que ofrecen
                    los servicios de envió, eligiendo la que más le convenga, pudiendo consultar a través de la página
                    los proveedores del servicio. En caso de surgir nuevos atributos que mejoren o aumenten uno o varios
                    servicios existentes, o cualquier nuevo servicio puesto en marcha por ship2go.com.mx, estarán
                    sujetos a estas condiciones de servicio.</p>
                <h5>5. Obligaciones de Registro.</h5>
                <p class="text-muted">5.1 Con carácter general el mero acceso al sitio web podrá ser libre. No obstante,
                    ship2go.com.mx condiciona el acceso a determinadas áreas del sitio web y la utilización de todos sus
                    servicios a la previa cumplimentación del correspondiente formulario de registro de usuario. El
                    acceso al sitio web podrá ser también a través de identificación de usuario por medio de redes
                    sociales la cual se considerará registro de usuario y conlleva necesariamente la aceptación sin
                    reserva u objeción alguna de los presentes términos y condiciones generales.</p>
                <p class="text-muted">5.2 ship2go.com.mx podrá poner a disposición de los usuarios determinados
                    servicios para cuya utilización pudiera requerir la cumplimentación de registros adicionales y/o
                    satisfacción de determinadas contraprestaciones (facturación). En su caso, dicho registro se
                    efectuará en la forma expresamente indicada en el propio servicio o en las condiciones particulares
                    que lo regulen.</p>
                <p class="text-muted">5.3 El usuario garantiza la veracidad de la anterior manifestación, así como del
                    conjunto de los datos de registro facilitados a ship2go.cm.mx y es responsable de mantenerlos
                    completamente actualizados mientras dure su condición de este. En todo caso el usuario será el único
                    responsable de las manifestaciones falsas o inexactas que realice y de los perjuicios que cause a
                    ship2go.com.mx o a terceros por la información que facilite.</p>
                <p class="text-muted">5.4 ship2go.com.mx se reserva el derecho de negar el alta en el sitio web. Esta
                    negativa no dará derecho a indemnización alguna.</p>
                <p class="text-muted">5.5 Una vez se complete satisfactoriamente el proceso de registro, ship2go.com.mx
                    dará de alta al usuario en su base de datos registrados. Una cuenta será generada con su dirección
                    de correo electrónico y “password” asociado para cada usuario.</p>
                <p class="text-muted">5.6 El usuario será responsable por todos los envíos efectuados en su cuenta, pues
                    el acceso es personal e intransferible, de conocimiento exclusivo del usuario.</p>
                <p class="text-muted">5.7 El usuario se compromete a notificar a ship2go.com.mx en forma inmediata y por
                    medio idóneo y fehaciente, cualquier uso no autorizado de su cuenta, así como el ingreso por
                    terceros no autorizados a la misma. Se aclara que está prohibida la venta o cesión.</p>
                <p class="text-muted">5.8 ship2go.com.mx se reserva el derecho de rechazar cualquier solicitud de
                    inscripción o de cancelar una inscripción previamente aceptada, sin que esté obligado a comunicar o
                    exponer las razones de su decisión y sin que ello genere algún derecho a indemnización o
                    resarcimiento.</p>
                <p class="text-muted">5.9 En consideración del uso de los servicios, usted confirma que tiene la
                    capacidad legal para formalizar un contrato vinculante y no es un impedimento para recibir los
                    mismos bajo las leyes de los Estados Unidos Mexicanos o de otras jurisdicciones aplicables. Si usted
                    proporciona alguna información que sea falsa, inexacta, desactualizada o incompleta, o que puedan
                    inducir a error a los proveedores, o si ship2go.com.mx tiene motivos razonables para sospechar que
                    usted ha violado las presentes condiciones, ship2go.com.mx tiene el derecho de suspender o cancelar
                    su cuenta y negarle el uso presente o futuro del servicio o cualquier parte de este.</p>
                <h5>6. Procedimiento de Contratación.</h5>
                <p class="text-muted">6.1 Para realizar un envió el usuario es necesario que acceda al sitio web, o en
                    su caso a la aplicación móvil e introducir el código postal donde se recolectará él envió, el
                    destino final, así mismo deberá especificar peso y medidas para que el comparador arroje la búsqueda
                    más precisa de las diversas compañías de paquetería y elegir la cual se acomode a sus necesidades de
                    precio y tiempo de entrega. Servicio Estándar: es aquel que puede variar dependiendo de la
                    disponibilidad de la agencia de mensajería seleccionada. Servicio Express: es aquel que tiene un
                    plazo de entrega inmediata, los cuales lo estipularán la agencia de mensajería seleccionada. Los
                    precios establecidos incluyen impuesto al valor agregado del 16% estipulado en los Estados Unidos
                    Mexicanos.</p>
                <p class="text-muted">6.2 Posteriormente, el usuario deberá complementar los formularios, los cuales
                    serán requisitos indispensables.</p>

                7. Política de Privacidad ship2go.com.mx
                <p class="text-muted">7.1 ship2go.com.mx está preocupado por la seguridad y la privacidad de todos sus
                    usuarios.</p>
                7<p class="text-muted">.2 Para la obtención acerca de la protección de datos que aplica ship2go.com.mx y
                    alguna otra información acerca de usted, están sujetos a la Política de Privacidad de
                    ship2go.com.mx. Para obtener mayor información, consulte el documento completo en la siguiente
                    dirección: www.ship2go.com.mx/privacidad. Política de privacidad de ship2go.com.mx específica que
                    usted autoriza la divulgación a través de ship2go.com.mx, de un mínimo de información personal con
                    el propósito de permitir el contacto de los proveedores.</p>
                <p class="text-muted">7.3 Usted entiende que, a través del uso de los servicios, acepta la recopilación,
                    uso y divulgación de su información, sólo según lo permitido por la política de privacidad, pero sin
                    limitación a la transferencia de esta información a los Estados Unidos Mexicanos u otros países para
                    el almacenamiento, procesamiento y uso por ship2go.com.mx con el fin de proporcionarle el servicio.
                </p>
                <p class="text-muted">7.4 Por su parte, usted acepta el uso de sus datos de acuerdo con las políticas de
                    privacidad de ship2go.com.mx</p>
                <h5>8. Términos y Condiciones de las Agencias de Mensajería y Paquetería (Proveedores).</h5>
                <p class="text-muted">8.1 En los casos de recolección y entrega de los envíos se aplicarán estrictamente
                    los términos y condiciones de servicios de las agencias de mensajería y Paquetería (proveedores), de
                    cualquier manera, siempre prevalecerán las condiciones de servicio de las anteriormente citadas, en
                    la inteligencia que estas se encuentran en sus respectivos sitios web.</p>
                <p class="text-muted">8.2 ship2go.com.mx queda excluido por cualquier anomalía de los servicios del
                    proveedor, y si fuese el caso estará protegida por los presentes Términos y Condiciones de los
                    Servicios.</p>
                <p class="text-muted">8.3 Todos los plazos de entrega se podrán consultar con el número de guía
                    proporcionado por ship2go.com.mx en el sitio web del proveedor elegido por el usuario. La entrega
                    del envió se realizará en el lugar de destino seleccionado por el usuario, por ausencia en el
                    domicilio de destino, por peso, volumen o naturaleza del inmueble, sea materialmente imposible la
                    entrega física del envío, se efectuará la entrega en la puerta del domicilio, en la agencia de
                    paquetería más cercana al domicilio del destino o en su defecto este será regresado a la dirección
                    de origen.</p>
                <h5>9. Cargos o Tarifas Adicionales imputables al Usuario.</h5>
                En los siguientes casos existirán cargos adicionales:
                <p class="text-muted">9.1 Dirección Imprecisa de recolección y/o entrega: si el usuario proporciona una
                    dirección errónea, en ambos supuestos y no se pudiese llevar a cabo el servicio proveído por la
                    agencia de paquetería seleccionada, el usuario será el único responsable de los cargos que se
                    originen por la imprecisión de las mismas. En el supuesto que sea un código postal diferente, se
                    tratara como si fuera un nuevo envío.</p>
                <p class="text-muted">9.2 Peso o Volumen Impreciso: Después de recoger el paquete en la dirección
                    proporcionada por el usuario, las agencias de transporte revisarán nuevamente él envió que cumpla
                    con las características descritas por el usuario, dado que es obligación del usuario proporcionar la
                    información correcta, en la inteligencia que la tarifa se basó en la información otorgada por el
                    mismo. Si el peso o volumen fuesen superiores al que se contrató, este podría presentar retrasos y
                    cargos adicionales, el cargo adicional por sobrepeso será descontado del saldo del cliente en cuanto
                    la paquetería seleccionada para el servicio notifique a sip2go.com.mx</p>
                <h5>10. Pagos, Facturación y Tarifas.  10.1 El usuario reconoce y acepta realizar el pago
                    instantáneamente de los servicios de mensajería y paquetería a ship2go.com.mx en moneda nacional, El
                    mismo es realizado a través de los sistemas de procesamiento de pagos que son propiedad de
                    terceros.  10.2 Una vez confirmado el pago, el usuario podrá solicitar la factura únicamente durante
                    el mes que se efectuó el mismo al correo electrónico de ship2go.com.mx, la factura tiene que cumplir
                    los requisitos correspondientes por los servicios, misma que será enviada al correo asignado por el
                    usuario dentro de los cinco días hábiles siguientes a la fecha de solicitud.  10.3 Sera
                    responsabilidad del usuario verificar los datos de facturación, toda vez que ship2go.com.mx no se
                    responsabilizara por facturas emitidas por datos y correos electrónicos erróneos, por razones
                    imputables al usuario, en la inteligencia que no se podrán subsanar.  10.4 Las tarifas por los
                    servicios de mensajería y paquetería podrán ser consultadas por los usuarios por medio de la
                    aplicación o el sitio web.  10.5 Las citadas tarifas serán establecidas tomando en consideración el
                    tipo de servicio, dimensiones y peso de los envíos, los puntos de recolección y entrega, así como la
                    distancia aproximada entre dichos puntos. Estas podrán ser modificadas antes de efectuar el pago,
                    por lo que será responsabilidad del usuario verificar las tarifas vigentes.</h5>
                <h5>11. Paquetes o Envíos.</h5>
                <p class="text-muted">11.1 El Usuario solo podrá usar el sitio web o la aplicación para envíos que
                    contengan bienes tangibles permitidos por la legislación aplicable, así como los estipulados en los
                    términos y condiciones de las agencias de paquetería y mensajería. De manera que el usuario será el
                    único responsable con la información proporcionada al momento de utilizar el comparador de envíos,
                    así como el contenido de este.</p>
                <p class="text-muted">11.2 Las agencias de paqueterías podrá negarse a recibir él envió, en los casos
                    que no reúnan las características estipuladas en sus términos y condiciones o que a su criterio
                    requieran de un manejo especializado, en la inteligencia que no habrá reembolso alguno.</p>
                <p class="text-muted">11.3 De manera que el usuario se obliga a sacar en paz y a salvo a ship2go.com.mx,
                    así como a su subsidiaria, empleados y contratistas, así como a las citadas agencias, de cualquier
                    procedimiento judicial o administrativo que llegasen a instaurar en su contra por cualquier
                    autoridad competente o tercero, derivado de cualquier incumplimiento de los presentes términos y
                    condiciones, obligándose de igual manera a indemnizar a las partes mencionadas con antelación por
                    los daños y perjuicios que pudiesen llegar a ocasionar como consecuencia de los procedimientos
                    anteriormente mencionados, incluyendo gastos y costas judiciales.</p>
                <p class="text-muted">11.4 Las agencias de paquetería podrán, mas no es su obligación, realizar su
                    inspección de los envíos en cualquier momento, así como permitir hacerlo a las autoridades que así
                    lo requieran.</p>
                <h5>12. Fallas en el sistema</h5>
                <p class="text-muted">12.1 ship2go.com.mx no se responsabiliza por cualquier daño, perjuicio o pérdida
                    al usuario causados por fallas en el sistema, en el servidor o en Internet, tampoco será responsable
                    por cualquier virus que pudiera infectar el equipo del usuario como consecuencia del acceso, uso o
                    examen de su sitio web o a raíz de cualquier transferencia de datos, archivos, imágenes, textos, o
                    audio</p>
                contenidos en el mismo. El usuario no podrá imputarle responsabilidad alguna ni exigir pago por lucro
                cesante a ship2go.com.mx, en virtud de perjuicios resultantes de dificultades técnicas o fallas en los
                sistemas o en internet. Ship2go.com.mx no garantiza el acceso y uso continuado o ininterrumpido de su
                sitio o aplicación móvil. El sistema puede eventualmente no estar disponible debido a dificultades
                técnicas o fallas de internet, o por cualquier otra circunstancia ajena a; en tales casos se procurará
                restablecerlo con la mayor celeridad posible sin que por ello se imputársele algún tipo de
                responsabilidad. Ship2go.com.mx no será responsable por ningún error u omisión contenidos en su sitio
                web o aplicación móvil.
                <h5>13. Propiedad Intelectual e Industrial:</h5>
                <p class="text-muted">13.1 Todo el software y los contenidos del sitio web, incluidos: código HTML,
                    textos, animaciones, imágenes etc. así como las marcas, nombres comerciales y/o signos distintivos
                    mostrados, son propiedad de ship2go.com.mx o de terceros y están protegidos por las leyes nacionales
                    e internacionales de propiedad intelectual e industrial.</p>
                <p class="text-muted">13.2 Cualquier uso ajeno al sitio web, incluida la reproducción, modificación,
                    distribución, transmisión, reedición, arreglos o representación de cualesquiera elementos del mismo
                    está estrictamente prohibido salvo consentimiento expreso escrito de ship2go.com.mx</p>
                <h5>14. Exclusión de Garantías:</h5>
                <p class="text-muted">14.1 El acceso al sitio web no implica ningún tipo de garantía, que expresamente
                    se rehusara ship2go.com.mx, respecto a la calidad, veracidad, exactitud, licitud, actualidad o
                    vigencia, así como la utilidad o adecuación a finalidad alguna de quien acceda a ellas. Tanto el
                    acceso al sitio web como el uso que pueda hacerse de la información y contenidos incluidos en el
                    mismo o que sea accesible desde el mismo, se efectúa bajo la exclusiva responsabilidad del usuario.
                </p>
                <p class="text-muted">14.2 En el caso de cancelación o cambio, el usuario cuenta con 24 horas
                    posteriores a la generación de guía para cancelar su pedido o hacer modificaciones del mismo. Queda
                    en responsabilidad del usuario realizar el cambio antes del plazo estipulado, para poder realizar
                    devolución del servicio o cambio del mismo.</p>
                <p class="text-muted">14.3 Las guías adquiridas en ship2go.com.mx tienen una caducidad de una semana (7
                    días) después de ser adquirida / generada. Si el usuario no la utiliza la guía dentro de este plazo
                    ship2go.com.mx no se hace responsable si el proveedor no acepta la guía.</p>
                <p class="text-muted">14.4 ship2go.com.mx no responderá en ningún caso y en ninguna medida, ni por daños
                    directos ni indirectos, ni por daño emergente ni por lucro cesante, por los eventuales perjuicios
                    derivados del uso de la información y contenidos del sitio web o accesible desde o a través del
                    mismo.</p>
                <h5>15. Notificaciones:</h5>
                <p class="text-muted">15.1 Para efectos de practicar oportunas notificaciones, ship2go.com.mx designa
                    como domicilio de contacto el especificado como propio en el estipulado al principio de los
                    presentes términos y condiciones.</p>
                <p class="text-muted">15.2 El correo electrónico facilitado por el usuario durante el proceso de
                    registro en el sitio web, será el utilizado por ship2go.com.mx a efectos de practicar notificaciones
                    al Usuario desde el momento de la contratación hasta la satisfacción del cliente.</p>
                <p class="text-muted">15.3 El usuario está obligado a mantener debidamente actualizados los datos que a
                    efectos de notificaciones se referencian en la presente cláusula.</p>
                <p class="text-muted">15.4 Todas las notificaciones que efectúe ship2go.com.mx al usuario se
                    considerarán válidamente efectuadas si se han realizado empleando los datos correctos y precisos, a
                    través de los medios anteriormente señalados. Ship2go.com.mx no se responsabiliza de cualquier
                    perjuicio que pudiese producirse por la vulneración del usuario de su obligación de mantenimiento
                    actualizado de sus datos de contacto.</p>
                <h5>16. Ley Aplicable y Fuero:</h5>
                <p class="text-muted">16.1 Los presentes términos y condiciones se regirán e interpretarán en todos y
                    cada uno de sus extremos por la Ley de los Estados Unidos Mexicanos.
                    Finalmente, ship2go.com.mx como el usuario se compromete a intentar resolver de manera amistosa,
                    cualquier controversia que se suscite en el desarrollo de las relaciones mercantiles. Para la
                    solución de las cuestiones litigiosas que pudieran derivarse del desarrollo de las relaciones
                    anteriormente citadas, ambas partes acuerdan someterse a la jurisdicción de los juzgados y
                    tribunales de la ciudad de México (Estados Unidos de Mexicanos), renunciando en este acto a
                    cualquier fuero que por razón de su domicilio presente o futuro pudiera corresponderles.
                    Para mayor información podrá contactar al área de Atención a Clientes de ship2go.com.mx</p>

            </div>
        </div>
    </div>
</div>