<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="text-center">Cotizador</h3>
                            </div>
                            <div class="form-group col-sm-5">
                                <label for="exampleInputEmail1">Origen</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" [(ngModel)]="quote.zip_from" placeholder="Código Postal">
                            </div>
                            <div class="form-group col-sm-2 text-center">
                                <label for=""></label>
                                <i class="fas fa-long-arrow-alt-right" style="font-size: 2.3em; margin-top: 0.7em;"></i>
                            </div>
                            <div class="form-group col-sm-5">
                                <label for="exampleInputPassword1">Destino</label>
                                <input type="text" class="form-control" [(ngModel)]="quote.zip_to" id="exampleInputPassword1"
                                    placeholder="Código Postal">
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="exampleInputEmail1">Alto</label>
                                <input type="text" class="form-control" id="exampleInputEmail1"  [(ngModel)]="quote.parcel.height" aria-describedby="emailHelp" placeholder="">
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="exampleInputPassword1">Ancho</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="quote.parcel.width" placeholder="">
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="exampleInputPassword1">Fondo</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="quote.parcel.length" placeholder="">
                            </div>
                            <div class="form-group col-sm-3">
                                    <label for="exampleInputPassword1">Peso</label>
                                    <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="quote.parcel.weight" placeholder="">
                                </div>
                            <div class="col-sm-12">
                                    <small class="text-muted">Peso volumetrico: {{volumetric}}</small>
                            </div>
                            <div class="col-sm-6 offset-sm-3">
                                <button type="submit" class="btn btn-block btn-outline-primary" (click)="getQuote()">Cotizar</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <ul class="list-group" [@listAnimation]="rates.length">
                            <li class="list-group-item" *ngFor="let rate of rates">{{rate.provider}} {{rate.service_level_name}} 
                                <small class="float-right">
                                    <b>{{rate.amount_local | currency}} {{rate.currency_local}}</b>
                                </small>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>