<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="text-center text-white">Cotizador</h3>
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="exampleInputEmail1">Origen</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            [(ngModel)]="quote.origin.postalCode" placeholder="Código Postal">
                    </div>
                    <div class="form-group col-sm-4 text-center">
                        <img src="assets/imgs/avionescotizador.png" class="quote-logo" alt="">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="exampleInputPassword1">Destino</label>
                        <input type="text" class="form-control" [(ngModel)]="quote.destination.postalCode"
                            id="exampleInputPassword1" placeholder="Código Postal">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm text-center">
                        <span>Alto</span>
                    </div>
                    <div class="col-sm text-center">
                        <span>Ancho</span>
                    </div>
                    <div class="col-sm text-center">
                        <span>Fondo</span>
                    </div>
                    <div class="col-sm text-center">
                        <span>Peso</span>
                    </div>
                    <div class="col-sm text-center">
                    </div>
                </div>
                <div class="row row-white">
                    <div class="col-sm">
                        <input type="text" class="form-control" id="exampleInputEmail1"
                            [(ngModel)]="quote.package.dimensions.height" aria-describedby="emailHelp" placeholder="">
                    </div>
                    <div class="col-sm">
                        <input type="text" class="form-control" id="exampleInputEmail1"
                            [(ngModel)]="quote.package.dimensions.width" aria-describedby="emailHelp" placeholder="">
                    </div>
                    <div class="col-sm">
                        <input type="text" class="form-control" id="exampleInputEmail1"
                            [(ngModel)]="quote.package.dimensions.length" aria-describedby="emailHelp" placeholder="">
                    </div>
                    <div class="col-sm">
                        <input type="text" class="form-control" id="exampleInputEmail1"
                            [(ngModel)]="quote.package.weight" aria-describedby="emailHelp" placeholder="">
                    </div>
                    <div class="col-sm">
                        <button type="submit" class="btn btn-block btn-rounded btn-app" (click)="getQuote()">Cotizar
                            <i class="fas fa-circle-notch fa-spin" *ngIf="loading"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <small class="text-white">Peso volumetrico: {{volumetric}}</small>
                    </div>
                </div>
                <br>
                <br>
                <div class="list-group" [@listAnimation]="rates.length">
                    <div class="box-quote list-group-item" *ngFor="let rate of rates">
                        <div class="row">
                            <div class="col-sm-2">
                                <img src="assets/imgs/carriers/{{rate.carrier+'.png'}}" class="carrier-logo" alt="">
                            </div>
                            <div class="col-sm-4">
                                <h4 class="text-center">{{rate.deliveryEstimate}}</h4>
                            </div>
                            <div class="col-sm-4">
                                <h4 class="text-center">{{rate.totalPrice | currency}} {{rate.currency}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>