
    <div class="card-body">
            <h5 class="card-title">Guías</h5>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Origen</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Parcel</th>
                            <th scope="col">Cost</th>
                            <th scope="col">Status</th>
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Vista del pinar 31, Vistas del Pinar. Zapopan, Jalisco.</td>
                                <td>Hacienda San Roman 243, Real Hacienda, Juarez, Nuevo Leon</td>
                                <td>Fedex Express</td>
                                <td>$168.00</td>
                                <td>En Transito</td>
                                <td>
                                        <button type="button" class="btn btn-icon btn-rounded btn-outline-primary"><i class="fas fa-eye"></i></button>
                                    <button type="button" class="btn btn-icon btn-rounded btn-outline-warning">
                                            <i class="fas fa-pencil-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-icon btn-rounded btn-outline-warning"><i class="feather icon-alert-triangle"></i></button>
                                </td>
                            </tr>
                        </tbody>
                      </table>
            </div>
        </div>

    </div>