@import "../../../variables.scss";
.card-blue[_ngcontent-xtr-c7] .card-body[_ngcontent-xtr-c7] .selectWrapper[_ngcontent-xtr-c7] select[_ngcontent-xtr-c7] {
  color: $app-blue;
}
.card-blue{
    background: $app-blue !important;
    border-radius:30px !important;
    
    .card-body{
      background: $app-blue !important;  
      border-radius:30px !important;

      .selectWrapper{
        border-radius:30px;
        display:inline-block;
        overflow:hidden;
        background:#cccccc;
        border:1px solid #cccccc;
        width: 100%;
        color: $app-blue;

        select{
            border:0px;
            outline:none;
            margin:0;
            color: $app-blue;
            font-weight: lighter !important;

            option{
              font-weight: lighter !important;
            }
          }
      }

      input, select{
        margin-top: 5px;
        border: 0;
        height: 50px;
        border-radius: 30px !important;
        text-align: center;
        color: $app-blue;

        .option{
            color: $app-blue;
        }

        &::-webkit-input-placeholder {
            color: $app-blue;
          }
          &:-moz-placeholder {
            color: $app-blue;
          }
          &::-moz-placeholder {
            color: $app-blue;
          }
          &:-ms-input-placeholder {
            color: $app-blue;
          }
      }

      .row{
        background: #fff;
        border-radius: 30px;
        .btn-app{
          margin-top: 5px;
        }
      }
    }
  }