<div class="card-body">
    <h5 class="card-title">Configuraciones</h5>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-transparent">
                <div class="card-body">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                role="tab" aria-controls="nav-home" aria-selected="true">Información Fiscal</a>
                            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                                role="tab" aria-controls="nav-profile" aria-selected="false">Notificaciones</a>
                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <div class="form-row">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="inputPassword4"
                                                [(ngModel)]="business.name" placeholder="Nombres">
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="inputPassword4"
                                                [(ngModel)]="business.lastname" placeholder="Apellidos">
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="inputPassword4"
                                                [(ngModel)]="business.email" placeholder="Email">
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="inputPassword4"
                                                [(ngModel)]="business.phone" placeholder="Teléfono">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="inputPassword4"
                                                [(ngModel)]="business.business_name" placeholder="Razón Social">
                                        </div>
                                        <div class="col-sm-12">
                                            <input type="text" class="form-control" id="inputPassword4"
                                                [(ngModel)]="business.rfc" placeholder="RFC">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="inputPassword4"
                                                [(ngModel)]="business.address" placeholder="Dirección">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="inputPassword4"
                                                [(ngModel)]="business.num_ext" placeholder="Número Ext">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="inputPassword4"
                                                [(ngModel)]="business.zip_code" placeholder="Código Postal">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="inputPassword4"
                                                [(ngModel)]="business.neight" placeholder="Colonia">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="inputPassword4"
                                                [(ngModel)]="business.city" placeholder="Ciudad">
                                        </div>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="inputPassword4"
                                                [(ngModel)]="business.state" placeholder="Estado">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4 offset-sm-4">
                                    <button class="btn btn-app-red btn-rounded btn-block"
                                        (click)="updateBusinessInfo()">Guardar</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="form-row">
                                <div class="col-sm-4">
                                    <p>¿Desea enviar correo al receptor del envío?</p>

                                </div>
                                <div class="col-sm-4">
                                    <label class="el-switch">
                                        <input type="checkbox" [(ngModel)]="configuration.email_receiver" (change)="updateConfiguration(configuration.email_receiver?'1':'0', 'email_receiver')" name="switch">
                                        <span class="el-switch-style"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>